<div class="card">
  <img class="card-img-top" src="../assets/img/1.png">
  <div class="card-img-overlay">
    <img class="label-sale" src="../assets/icons/sale.png" *ngIf="product.discountCost">
    <img class="label-new" src="../assets/icons/new.png" *ngIf="product.new">
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{ product.title }} </h5>
    <p class="card-text"> {{ product.description }} </p>
    <p class="price" *ngIf="product.discountCost"> ${{ product.discountCost }}.00</p>
    <p class="price" [ngClass]="{ 'discount' : product.discountCost }"> ${{ product.cost }}.00</p>
    <button class="button-add">ADD TO CART</button>
    <button class="button-view">VIEW</button>
  </div>
</div>

