<div class="container">

  <!-- Product cards -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="height: 460px">
      <app-product-card></app-product-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="height: 460px">
      <app-product-card></app-product-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="height: 460px">
      <app-product-card></app-product-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="height: 460px">
      <app-product-card></app-product-card>
    </div>
  </div>


  <!-- Load more button -->
  <div class="row" style="height: 80px">
    <div class="col-5"></div>
    <div class="col-2">
      <button class="button-load">LOAD MORE</button>
    </div>
    <div class="col-5"></div>
  </div>

  <!-- Footer info -->
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <app-offer-card></app-offer-card>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <app-offer-card></app-offer-card>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <app-info-card></app-info-card>
    </div>
  </div>


</div>
