.container {
  margin-top: 30px;
}


.button-load {
  height: 37px;
  width: 120px;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  background-color: white;
  border: 1px solid #e1d8d8;
  color: #e30505;
  top: 0;
}

@media screen and (max-width: 575px) {
  .button-load {
    margin-left: 10px;
  }
}
