.container {
  margin-top: 30px;
}


.button-load {
  height: 37px;
  width: 120px;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  background-color: white;
  border: 1px solid #e1d8d8;
  color: #e30505;
  top: 0;
}

.spinner {
  border: 16px solid #e1d8d8;
  border-top: 16px solid #e30505;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.button-spinner {
  border: 8px solid #e1d8d8;
  border-top: 8px solid #e30505;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 575px) {
  .button-load {
    margin-left: 10px;
  }
}

