<div class="card">
  <div class="card-body">
    <h5 class="card-title">HOT OFFERS</h5>
    <p class="card-text">Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet
      dolore magna aliguam erat volutpat.
    </p>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetuer</li>
      <li>Lorem ipsum dolor sit amet consectetuer</li>
      <li>Lorem ipsum dolor sit amet consectetuer</li>
      <li>Lorem ipsum dolor sit amet consectetuer</li>
      <li>Lorem ipsum dolor sit amet consectetuer</li>
     </ul>
  </div>
</div>
