<div class="card">
  <div class="card-body">
    <h5 class="card-title">STORE INFORMATION</h5>

    <div class="information">
      <img src="../../assets/icons/geo.png" style="float: left">
      <p class="card-text">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
    </div>

    <div class="information">
      <img src="../../assets/icons/phone.png" style="float: left">
      <p class="card-text">Call us now toll free (800) 2345-6789</p>
    </div>

    <div class="information">
      <img src="../../assets/icons/mail.png">
      <p class="card-text">
        Customer support: support@example.com<br>
        Press: pressroom@example.com
      </p>
    </div>

    <div class="information skype-info">
      <img src="../../assets/icons/skype.png">
      <p class="card-text">Skype: sample-username</p>
    </div>
  </div>
</div>
